%h4="Абонент подключен, все процедуры выполнены, заявка готова к закрытию"
%p="Подключил/перевел #{@user.name}"
= link_to "Ссылка на тему", @urlfor
%br
%i Не забудьте закрыть тему
%br
%br
%p Сообщение сгенерировано Bgwebmon