%h4="Заявка обработана, абонент заведен в биллинг и готов к подключению"
%p="Заявку обработал #{@user.name}"
= link_to "Ссылка на тему", @urlfor
%br
%i Не забудьте обновить тему после подключения
%br
%br
%p Сообщение сгенерировано Bgwebmon