%div{:id => "content"}
	%ul
		- @dialupalias.each do |u|
			%li{:class => "show"}
				%div
					- if u.contract.online==true
						%img{:src =>"/assets/online.png"}
					- else
						%img{:src => "/assets/offline.png"}
				%div= u.contract.title
				%div{:class => "fio"}= u.login_alias