%div{:id => "popup"}
	%div{:id => "popupbackground"}
	%div{:id => "popupscreen"}
		%div{:id => "popupclose"} X
		%div{:id => "popupcontent"}
%ul{:id => "content"}
	- @dialupalias.each do |u|
		%li{:class => "cli"}
			%input{:type => 'hidden', :val => u.id}
			%div{:class => "status"}
			%ul
				%li
					%div="#{u.contract.title} - #{u.contract.comment}"
				%li
					%div=u.login_alias
			%table{:class => "balance"}
				%tr
					%td баланс:
					%td лимит:
				%tr
					%td 20.00
					%td="#{u.contract.closesumma}0"
			%div{:class => "clinks"}
				%a{:href => "#"}Ошибки
				%a{:href => "#"}Графики