%ul#nodesul.span11.offset1
	%li.nodesli
		%div.all=link_to "Все абоненты", "/mon/"
		%ul#regionul
			-@nodes.each do |n|
				- if n != ""
					%li.noderegion
						%h3= n[:region]
						%ul.nodeul
							- n[:nodes].each do |bs|
								%li.nodetext
									= link_to bs[:title].gsub(/^([А-Я]|[а-я])+\ \-\ /,""), "/mon/#{bs[:id]}"