%div{:id => "content"}
	%ul{:id => 'logins'}
		- @dialupalias.each do |u|
			%li{:class => "show"}
				%input{:type => 'hidden', :val => u.id}
				%div
					- if u.contract.online==true
						%img{:src =>"/assets/online.png"}
					- else
						%img{:src => "/assets/offline.png"}
				%div= u.contract.title
				%div{:class => "fio"}= u.login_alias
				%div{:class => "showed"}
					%div
						%p
							%a{:href => '#'} График
						%h4 Ошибки:
						%ul{:id => 'errorlist'}
