%ul
	%li
		=link_to "Все абоненты", "/mon/"
		%ul
			-@nodes.each do |n|
				%li
					=n[:region]
					%ul
						- n[:nodes][0].each do |bs|
							%li
								= link_to bs["title"], "/mon/#{bs["id"]}"