%ul
	%li
		=link_to "Все абоненты", "/mon/"
		%ul
			-@nodes.each do |n|
				%li
					=n[:region]
					%ul
						- n[:nodes].each do |bs|
							%li
								= link_to bs[:title].gsub(/^([А-Я]|[а-я])+\ \-\ /,""), "/mon/#{bs[:id]}"