%table#bal
	%thead
		%tr
			%th Договор
			%th Комментарий
			%th Наличие подписаного договора
	%tbody
		- @contracts.each do |c|
			%tr
				%td= c.title
				%td= c.comment
				- if !c.flags.where(["pid=?", 56]).first.nil?
					- if c.flags.where(["pid=?", 56]).first.val.eql? 1
						%td Есть
					- else
						%td Нет
				- else 
					%td Нет