%link{href: "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel: "stylesheet", type: "text/css"}/
%h4 
  Предварительная заяка, - 
  = @note.fio
  обновлена
%p
  = link_to "Ссылка на тему", "https://ruby.crimeainfo.com/notes"
%br
%p Сообщение сгенерировано Bgwebmon