@mixin text_select($dist) {
  	-moz-user-select: $dist;
	-khtml-user-select: $dist;
	-webkit-user-select: $dist;
	user-select: $dist;
}

@mixin gradient($colorone, $colortwo){
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $colorone), color-stop(1, $colortwo) );
	background:-moz-linear-gradient( center top, $colorone 5%, $colortwo 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$colortwo', endColorstr='$colortwo');
}

@mixin boxshadow(){
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;	
}

#content{
	list-style: none;
	margin:0;
	padding:0px 0px 0px 0px;
	font-family: 'Ubuntu Sans', sans-serif;
	display:block;
	width:1000px;
	overflow:hidden;
}

.status{
	position: absolute;
	border: 1px solid #fff;
	margin: 5px 0px 5px 6px;
	width: 5px;
	height: 71px;
	border-radius: 3px;
}

.cli{
	float: left;
	margin: 3px;
	background-color: #f3f3f3;
	border: 1px solid #d3d3d3;
	height: 83px;
	width: 320px;
	@include boxshadow();
	@include gradient(#ededed,#dfdfdf);
	@include text_select(none);
	cursor: default;
	/*&:active{
		@include gradient(#dfdfdf,#ededed);
		background-color:#dfdfdf;
	}*/
	ul{
		list-style: none;
		margin:0px 0px 0px 20px;
		padding:0;
		li{
			width: 290px;
			margin: 0px 0px 0px 0px;
			height: 19px;
			font-size: 15px;
			overflow: hidden;
			color: #555;
			text-shadow:1px 1px 0px #ffffff;
			&:nth-child(n+2){
				width: 150px;
				@include text_select(text);
				text-shadow:none;
				font-size: 14px;
			}
			div{
				width: 400px;
			}
		}
	}
}

.clinks{
	margin:2px 0px 0px 0px;
	float:right;
	font-size: 16px;
	width: 155px;
	height: 20px;
	a{
		text-decoration: none;
		color: #00bef6;
		text-shadow:1px 1px 0px #ffffff;
		&:hover{
			color:#555;
		}
	}
}

.balance{
	width: 100px;
	font-size:12px;
	color:#555555;
	padding: 0;
	margin: 1px 0px 0px 16px;
	position: absolute;
}

#popup{
	position: absolute;
	width: 100%;
	display: none;
}

#popupbackground{
	width: 100%;
	position: absolute;
	background-color: #000;
	z-index: 1001;
	opacity: 0.7;
}

#popupscreen{
	width: 400px;
	height: 400px;
	overflow: scroll;
	position: absolute;
	padding: 30px;
	background-color: #f3f3f3;
/*	border-radius: 20px; */
	border:1px solid #d3d3d3;
	display:block;
	z-index: 1002;
}

#popupclose{
	color: #000;
	font-size: 16px;
	float: right;
	font-family: 'Ubuntu Sans', sans-serif;
	@include text_select(none);
	cursor: default;
	font-weight: bold;
	text-shadow:1px 1px 0px #ffffff;
	z-index: 100001;
}

#popupcontent{
}


.gtime{
	list-style: none;
	padding:0;margin:0;
	@include text_select(none);
	font-family: 'Ubuntu Sans', sans-serif;
	li{
		cursor: default;
		float:left;
		padding: 10px;
		color:#00bef6;
		&:hover{
			color:#555;
		}
	}
}


#nodesul{
	list-style:none;
}
.nodesli{}
#regionul{
	list-style:none;
}
.noderegion{
	h3{
		color:#555;
		font-size: 28px;
		font-family: "Ubuntu Condensed", sans-serif;
	}
}
.nodeul{
	list-style:none;
}
.nodetext{
	a{
		color:#00BEF6;
		text-decoration:none;
		&:hover{
			color:#555
		}
	}
}

.all{
	a{
		color:#00BEF6;
		text-decoration:none;
		&:hover{
			color:#555
		}
	}	
}
