%link{href: "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel: "stylesheet", type: "text/css"}/
%h4
  Поступила новая заявка на оплату.
%p
  = link_to "Ссылка на тему", "https://crimeainfo.com/agent_payments"
%table.table.table-bordered
  %thead
    %tr
      %th
        Платеж добавил(а)
      %th
        Договор
      %th
        Сумма
  %tbody
    %tr
      %td= @payment.user.name
      %td= @payment.contract.title + " - " + @payment.contract.comment
      %td= @payment.value.to_s + " руб."
%br
%br
%p Сообщение сгенерировано Bgwebmon