%table.table.table-bordered
  %thead
    %tr
      %th Базовая станция
      %th Всего договоров
      %th Активные договора
  %tbody
  - @nodes.each do |c|
    %tr
      %td{:style => "text-align: left"}= link_to c.title, "/nodestatistic/#{c.id}"
      %td
        %span{ class: "#{c.contracts.count > 0 ? 'badge badge-info' : 'badge'}" }= c.contracts.count
      %td
        %span{ class: "#{c.contracts.count > 0 ? 'badge badge-success' : 'badge'}"}= c.contracts.where("status = '0'").count